footer {
text-align: center;
font-weight: bold;
font-style: italic;

}



#xyz{
color:black;}

.mainpic{

display: block;
margin: auto;
width: 30%;}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 400px;
    text-align: right;
}
#history{
color: black;
border-style:solid; 
border-color:black;
text-align:center; margin-right:20%;
margin-left:20%;
text-indent:10%; 
text-align:justify;
font-family:fantasy;
font-weight:bold;}









