footer {
text-align: center;
font-weight: bold;
font-style: italic;
Background-color:white;
 black;border-style:solid;

}



#xyz{
color:black;}

.mainpic{

display: block;
margin: auto;
width: 30%;}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 400px;
    text-align: right;
}
#history{
color: black;
border-style:solid; 
border-color:black;
text-align:center; margin-right:20%;
margin-left:20%;
text-indent:10%; 
text-align:justify;
font-family:fantasy;
font-weight:bold;}

thead{
font-size: 25px}
table{
}
#ContentArea{
Background-color:white;}

body{
background-color:gainsboro;}
a:link {


text-decoration:none;}

a:visited{
color:yellow;}

a:hover{

font-weight: bold;
text-decoration: underline;
}
a:active{
text-decoration:none;
color:yellow;}

.beverage{
margin-left:auto; 
    margin-right:auto;
	border-style:solid; 
border-color:black;}
















